[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = git://github.com/gorilla/mux.git
[submodule "src/github.com/gorilla/context"]
	path = src/github.com/gorilla/context
	url = git://github.com/gorilla/context.git
